{% extends "layout.html" %}

{% block content %}
  {{ super() }}
  <p>
    This was made to simplify proteomic analysis. All tools are provided as-is, without any warranty or guarantee of accuracy. Moreover, this website is not affiliated with any linked content.

    Want to contribute? Create a pull request of source code <a href="https://github.com/christineiym/simple-proteomics-tools">here</a>! 
  </p>
  <br>
  <b>Other helpful websites:</b>
  <p>
    <ul>
      <li>
        <a href="https://www.sisweb.com/mstools/isotope.htm">Isotope Distribution Calculator and Mass Spec Plotter, by Adaptas Solutions</a>
      </li>
      <br>
      <li>
        <a href="https://www.envipat.eawag.ch/">Alternative Mass Spec Plotter, by enviPat</a>
        <br>
        (Note: Can paste multiple chemical formulas into the search box for batch processing)
      </li>
      <br>
      <li>
        <a href="https://web.expasy.org/protparam/">Calculator of the molecular weight of a protein and more, by Expasy</a>
      </li>
    </ul>
  </p>
  <br>
  <h2>Citations</h2>
  <p>
    This website uses the <a href="https://pyteomics.readthedocs.io/en/latest/_modules/pyteomics/mass/mass.html">amino acid composition data</a> (named as std_aa_comp) from the Python package <a href="https://pyteomics.readthedocs.io/en/latest/">Pyteomics</a>. Attributions for Pyteomics are below.
    <ul>
      <li>Goloborodko, A.A.; Levitsky, L.I.; Ivanov, M.V.; and Gorshkov, M.V. (2013) “Pyteomics - a Python Framework for Exploratory Data Analysis and Rapid Software Prototyping in Proteomics”, Journal of The American Society for Mass Spectrometry, 24(2), 301–304. DOI: 10.1007/s13361-012-0516-6
      <li>Levitsky, L.I.; Klein, J.; Ivanov, M.V.; and Gorshkov, M.V. (2018) “Pyteomics 4.0: five years of development of a Python proteomics framework”, Journal of Proteome Research. DOI: 10.1021/acs.jproteome.8b00717</li>
    </ul> 
  </p>
{% endblock %}